@import "@common/vars";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 52px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 700;
  font-family: var(--font-radiocanada);
  margin-bottom: 33px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.about {
  font-size: 28px;
  margin-bottom: 52px;
  font-weight: 300;
  color: var(--color-textSecondary);
  font-family: var(--font-radiocanada);
}

.contactBtn {
  text-decoration: none;
  text-align: center;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 30px;
  padding: 17px 26px;
  border-radius: 100px;
  /* border: 1px solid var(--color-text); */
  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 2.5);*/
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  border-radius: 764px;
  top: -128px;
  left: 10vw;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  /* border: 3px solid green; */
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-height: 250px;
  border-radius: 764px;
  top: 246px;
  right: -25vw;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .container {
    /* border: 3px solid green; */
    flex-direction: column-reverse;
  }

  .about {
    font-size: 18px;
  }

  .contactBtn {
    font-size: 18px;
  }

  .title {
    margin-top: 20px;
    font-size: 55px;
    font-weight: 600px;
  }
  .content {
    align-items: center;
  }
}
