@import "@common/vars";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  /* margin-top: 173px; */
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 33px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4.5s steps(40, end) 3.5s infinite,
    blink-caret 0.5s step-end infinite;
  animation-direction: alternate; */
  /*  Typing and pause alternate */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.about {
  font-size: 30px;
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  font-size: 30px;
  padding: 17px 26px;
  border-radius: 100px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 2.5);
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, -5px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  border-radius: 764px;
  top: -128px;
  left: 10vw;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  /* border: 3px solid green; */
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-height: 250px;
  border-radius: 764px;
  top: 246px;
  right: -25vw;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .container {
    /* border: 3px solid green; */
    flex-direction: column-reverse;
  }
  .content {
    align-items: center;
  }
}
