:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;
  --color-textSecondary: rgba(232, 226, 226, 0.986);

  /* Fonts */
  --font-radiocanada: "Radio Canada";
}
